<a href="https://colab.research.google.com/github/BhumiRaval123/Machine-Learning/blob/main/CLUSTERING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [27]:
from google.colab import drive

In [28]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
cd /content/drive/"My Drive/Colab Notebooks"

/content/drive/My Drive/Colab Notebooks

In [30]:
dataset = pd.read_csv("StudentsPerformance.csv")
print(dataset)
dataset.shape

     gender race/ethnicity  ... reading score writing score
0    female        group B  ...            72            74
1    female        group C  ...            90            88
2    female        group B  ...            95            93
3      male        group A  ...            57            44
4      male        group C  ...            78            75
..      ...            ...  ...           ...           ...
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[1000 rows x 8 columns]

(1000, 8)

In [31]:
dataset.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [32]:
dataset=pd.get_dummies(dataset)
dataset.head(5)

   math score  ...  test preparation course_none
0          72  ...                             1
1          69  ...                             0
2          90  ...                             1
3          47  ...                             1
4          76  ...                             1

[5 rows x 20 columns]

In [33]:
dataset.shape

(1000, 20)

In [34]:
x = dataset.drop(columns=['math score'])
y = dataset['math score']

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state=100)

In [36]:
from sklearn.preprocessing import StandardScaler


scaler = StandardScaler()
scaler = scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [37]:
from sklearn.neighbors import KNeighborsClassifier

knc = KNeighborsClassifier(6, p=6)

In [38]:
knc.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=6, p=6,
                     weights='uniform')

In [39]:
from sklearn.metrics import classification_report, confusion_matrix, f1_score
print(classification_report(y_test, knc.predict(X_test)))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           8       0.00      0.00      0.00         1
          18       0.00      0.00      0.00         0
          23       0.00      0.00      0.00         0
          26       0.00      0.00      0.00         0
          27       0.00      0.00      0.00         1
          29       0.00      0.00      0.00         0
          30       0.00      0.00      0.00         0
          32       0.00      0.00      0.00         0
          34       0.00      0.00      0.00         1
          35       0.00      0.00      0.00         0
          36       0.00      0.00      0.00         1
          37       0.00      0.00      0.00         1
          38       0.00      0.00      0.00         0
          39       0.00      0.00      0.00         2
          40       0.00      0.00      0.00         0
          41       0.00      0.00      0.00         3
          42       0.00      0.00      0.00         0
          43       0.00      0.00      0.00         2
          44       0.00      0.00      0.00         3
          45       0.00      0.00      0.00         4
          46       0.00      0.00      0.00         2
          47       0.00      0.00      0.00         5
          48       0.00      0.00      0.00         4
          49       0.00      0.00      0.00         3
          50       0.00      0.00      0.00         4
          51       0.00      0.00      0.00         2
          52       0.00      0.00      0.00         4
          53       0.00      0.00      0.00        10
          54       0.00      0.00      0.00         7
          55       0.00      0.00      0.00         8
          56       0.00      0.00      0.00         3
          57       0.00      0.00      0.00         9
          58       0.00      0.00      0.00        11
          59       0.00      0.00      0.00        11
          60       0.00      0.00      0.00         9
          61       0.00      0.00      0.00         9
          62       0.00      0.00      0.00         9
          63       0.00      0.00      0.00         8
          64       0.00      0.00      0.00         7
          65       0.00      0.00      0.00         8
          66       0.00      0.00      0.00         7
          67       0.00      0.00      0.00         9
          68       0.33      0.14      0.20         7
          69       0.00      0.00      0.00         7
          70       0.00      0.00      0.00         7
          71       0.00      0.00      0.00        11
          72       0.00      0.00      0.00         6
          73       0.00      0.00      0.00        13
          74       0.14      0.10      0.12        10
          75       0.00      0.00      0.00         9
          76       0.00      0.00      0.00         8
          77       0.00      0.00      0.00        10
          78       0.00      0.00      0.00         2
          79       0.33      0.20      0.25         5
          80       0.22      0.50      0.31         4
          81       0.00      0.00      0.00         8
          82       0.00      0.00      0.00         9
          83       0.00      0.00      0.00         3
          84       0.00      0.00      0.00         3
          85       0.00      0.00      0.00         3
          86       0.00      0.00      0.00         2
          87       0.00      0.00      0.00         7
          88       0.00      0.00      0.00         4
          90       0.00      0.00      0.00         2
          92       0.00      0.00      0.00         2
          93       0.00      0.00      0.00         2
          94       0.00      0.00      0.00         3
          95       0.00      0.00      0.00         1
          96       0.00      0.00      0.00         2
          97       0.00      0.00      0.00         2
          98       0.00      0.00      0.00         2
          99       0.00      0.00      0.00         3
         100       0.00      0.00      0.00         4

    accuracy                           0.02       330
   macro avg       0.01      0.01      0.01       330
weighted avg       0.02      0.02      0.02       330

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [40]:
print(confusion_matrix(y_test, knc.predict(X_test)))

[[0 0 1 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

**RANDOM FOREST**

In [44]:
labels=np.array(dataset['math score'])

In [46]:
dataset=dataset.drop('math score',axis=1)

In [ ]:
dataset

In [49]:
dataset_list=list(dataset.columns)
dataset=np.array(dataset)

In [51]:
train_features,test_features,train_labels,test_labels=train_test_split(features,labels,test_size=0.25,random_state=42)

In [52]:
test_labels.shape

(250,)

In [53]:
from sklearn.ensemble import RandomForestRegressor

In [54]:
rf=RandomForestRegressor(n_estimators=1000,random_state=42)

In [55]:
rf.fit(train_features,train_labels)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [56]:
predictions=rf.predict(test_features)

In [57]:
errors=abs(predictions-test_labels)

In [63]:
mape=100*(errors/test_labels)

mean_error=np.mean(mape)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

In [64]:
accuracy=100-mean_error
accuracy

-inf